@import "../../globals/variables.css";

.whiteh2 {
    color: white;
}

.widthp {
    width: 100%;
    color: white;
}

/*div's*/
.title {
    padding-left: 5%;
}

.person-parent {
    text-align: center;
}

#person {
    position: relative;
    text-align: left;
    padding: 5%;
    display: inline-block;
    border-radius: 16px;
    height: 100px;
    width: 80%;
    background-color: #3379FC;
    margin-bottom: 3%;
}

#person:hover {
    cursor: pointer;
}

.container {
    width: 100%;
}

.person-info {
    float: left;
    width: 55%;
}

.person-info-image {
    display: inline-block;
    position: absolute;
    width: 40%;
    bottom: -3px;
}

.person-info-image-src {
    width: 100%;
}
  
#overlay {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3379FC;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .4s ease;
}

#close {
    color:white;
    right: 10%;
    top: 5%;
    position: absolute;
    font-size:20px;
}

#close:hover {
    cursor: pointer;
    color:lightgray;
}

.person-header {
    width: 100%;
    background-color: #3379FC;
    height: 30%;
}
  
#content {
    margin: 0 auto;
    width: 100%;
    height: 70%;
    background-color: white;
    font-size: 20px;
    position: relative;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.person-image {
    height: 26%;
    left: 15%;
    bottom: 70%;
    position: absolute;
}

.person-heading {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    color: #3379FC;
}

.person-text {
    padding-left: 5%;
    padding-right: 5%;
    color: gray;
    font-size: 18px;
    text-align: left;
}

.text {
    padding-left: 5%;
    padding-top: 2%;
    text-align: left;
}

/*media queries*/
@media only screen and (min-width: 800px) {
    .person-info {
        margin-bottom: 20px;
        float: left;
        width: 70%;
    }
    
    .person-info-image {
        display: inline-block;
        position: absolute;
        width: 28%;
        bottom: -3px;
    }

    .person-info-image-src {
        width: 100%;
    }
  }

