@import "../../globals/variables.css";

.profileInfo {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profileInfo img {
  /* clip-path: circle(130px at center); */
  border-radius: 50%;
}

figure img {
  max-width: 500px;
  margin: 0 auto;
  width: 80%;
  height: auto;
}
