@import "../../globals/variables.css";

.parent-achievement-wrapper {
    width: 90vw;
}

.parent-achievement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    display: inline-block;
}

.achievement {
    width: 10vw;
    height: 20vw;
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    display: inline-block;
}